#marker_selected {
    border: 2px solid rgb(220, 53, 69);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: relative;
    z-index: 10;
    background-repeat: no-repeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-color: black;
    color: white;
}

#marker_default {
    border: 2px solid rgb(220, 53, 69);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: azure;
    color: black;
}


#marker_img_default {
    border: 2px solid rgb(220, 53, 69);
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.markerContentStyle {
    margin-top: 10px;
    text-align: center;
    font-weight:bold;
    font-size: small;
}
