.network_board {
    display: inline-grid;
    border: 1px solid #dee2e6!important;
    grid-template-columns:180px;
    grid-auto-rows: 60px;
    backgroundImage: url("https://images.app.goo.gl/LGuMYxv91qKGeEAG7") !important;
    opacity: 1;
}

.network_board .profile_picture {
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: center;
}

.network_board .friend_information {
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
}

.network_board .action {
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
    margin-top: 15px;
}

.bold_fonts {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    font-weight: 800 !important;
    line-height: 1.4em !important;
    color: #484848 !important;
}

.normal_fonts {
    #margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.75em !important;
    color: #484848 !important;
}

.bottom-shadow {
    width: 80%;
    margin: 0 auto;
}

.bottom-shadow:after {
    content: "";
    display: block;
    height: 8px;
    background: transparent;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.bottom-shadow div {
    padding: 5px;
}


.connection_pannel {
    top: 155px;
    left: 8%;
    height: 80px;
    width: 300px;
    position: fixed;
    border-bottom-style:ridge;
    border-top-style:ridge;
    border-radius: 5%;
}

.image_location {
    max-height: 70%;
    margin-top: 10px;
}

.connection_image {
    position: relative;
    top: 4px;
    width: 80px;
}

.MessageImageLocation {
    max-height: 90%;
    margin-top: 2px;
    margin-left: 10px;
}

.image1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
}

.image2 {
    position: absolute;
    top: 0;
    left: 20px;
    height: 70px;
}

.image3 {
    position: absolute;
    top: 0;
    left: 40px;
    height: 70px;
}

.image4 {
    position: absolute;
    top: 0;
    left: 60px;
    height: 70px;
}

.connection_caption {
    position: relative;
    top: 35%;
    left: 0;
}

.message_summary {
    height: 80px;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.MessageImage {
    height: 80px;
}

.messageSummary-createdTime {
    font-size: 13px;
    color: #949494;
}

.messageSummary-header {
    flex: 1 1 auto;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    color: #231f20;
    font-weight: 400;
    max-width: fit-content;
    width: 100%;
}

.messageSummary-details {
    flex: 1 1 auto;
    padding-left: 20px;
    overflow: hidden;
    color: black;
    font-weight: 400;
    max-width: fit-content;
    margin-top: 5px;
    margin-left: 5px;
}

.MessageEditIcon {
    color: #a52a2a;
}


.imgCover {
    object-fit: cover !important;
    width: 60px;
}

.friendName {
}

.OnlineStatus {
    color: rgb(72, 72, 72) !important;
    margin-left: 5px;
}

.doughnut { 
    border: 3px solid #28a745;
    border-radius: 15px;
    height: 15px;
    width: 15px;
    margin-left: 70px;
    margin-top: 5px;
}


.friendWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-auto-rows: 80px;
    justify-items: start;
    align-items: center;
}

.boldHeader {
    font-weight: bold;
    margin-top:10px;
}

.onlineWrapper {
    display: grid;
    grid-template-columns: 1fr 8fr;
}