.friendWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-auto-rows: 80px;
    justify-items: start;
    align-items: center;
    border-bottom: 1px solid gray;
}

.friendWrapperClicked {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-auto-rows: 80px;
    justify-items: start;
    align-items: center;
    background-color: #b0becc;
    border-left-style: solid;
    border-left-color: #115399;
    border-left-width: 5px;
}

.friendName {
    margin-left: 10px;
}

.imgCover {
    object-fit: cover !important;
    width: 60px;
    margin-left: 10px;
}