.navBarContainer {
  padding-bottom: 70px;
}

.landingPage {
  background-color: transparent !important;
  border-style: none !important;
}

span.fa-comment {
  position: relative;
  font-size: 1em;
  top: -14px !important;
  color: red;
  right: 5px !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.fa-globe {
  position: relative;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}

span.num {
  position: relative;
  font-size: 0.6em;
  top: -18px !important;
  color: #fff;
  right:20px !important;
}

span.newMsgSignature {
  position: relative;
  font-size: 0.6em;
  top: -18px;
  color: #fff;
  right:20px !important;
}

.panel-subtitle {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 1.3333333333333333em !important;
    color: #484848 !important;
}

.tenantListingSummary {
  display: flex;
  flex-direction: column;
}

.friendSummary {
  display: flex;
  flex-direction: row;
  margin: auto;

}

.socialDistance {
  margin-left: 5px;
  margin-top: -8px;
}

.SlidingToggleSwitch {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 38px;
    right: 50px;
    z-index: 2000;
}


.DashboardModeControl {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 2000;
}

.DashboardModeControlCaption {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 17px;
    right: 42px;
    z-index: 2000;
    color: #652143;
}


.ToggleCaption {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.SelectedCaption {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

.ToggleLeft {
  margin-top: 3px;
  margin-right: 4px;
}

.ToggleRight {
  margin-top: 3px;
  margin-left: 4px;
}

.hide {
  position: absolute;
  top:-1px;
  left:-1px;
  width:1px;
  height:1px;
}

.loader {
    margin: 100px auto auto;
    border: 16px solid gray;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: coloredspin 4s linear infinite;
}

@keyframes coloredspin {
    0%{
        transform: rotate(0deg) scale(1);
        border-top-color: gray;
        border-bottom-color: gray;
    }
    25%{
        border-top-color: whitesmoke;
        border-bottom-color: whitesmoke;
    }
    50%{
        transform: rotate(360deg) scale(1.05);
        border-top-color: gray;
        border-bottom-color: gray;
    }
    75%{
        border-top-color: whitesmoke;
        border-bottom-color: whitesmoke;
    }
    100%{
        transform: rotate(720deg) scale(1);
        border-top-color: gray;
        border-bottom-color: gray;
    }
}

.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}
