.navBarContainer {
  padding-bottom: 70px;
}

.landingPage {
  background-color: transparent !important;
  border-style: none !important;
}

span.fa-comment {
  position: relative;
  font-size: 1em;
  top: -14px !important;
  color: red;
  right: 5px !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.fa-globe {
  position: relative;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}

span.num {
  position: relative;
  font-size: 0.6em;
  top: -18px !important;
  color: #fff;
  right:20px !important;
}

span.newMsgSignature {
  position: relative;
  font-size: 0.6em;
  top: -18px;
  color: #fff;
  right:20px !important;
}